body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

#wrapper{
	background-color: #FFF;
	padding: 10px ;
	border: solid 1px black;
}

#user_nav{
	text-align: right;
	padding: 5px;
}

#tabs{
/*	background: skyblue;*/
	
}

#menu_list{
	list-style: none;
/*	background: skyblue;*/
	padding:0  20px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	border-bottom:2px solid skyblue;
}

#menu_list li{
	background: gray;
	margin:0 3px 0px 0;
/*	width: 80px;*/
	float: left;
/*	padding: 3px 7px;*/
}

#menu_list a:link,
#menu_list a:visited,
#menu_list a:hover,
#menu_list a:active{
	color: blue;
	padding: 2px 7px;
	float:left;
}
#menu_list a:hover,
#menu_list a:active{
	color: white;
	background: black;
	text-decoration: none;
}

#body{
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	padding:10px 0px;
}

#left_column{
	background:skyblue;
	width: 180px;
	float: left;
	padding: 10px;
}

#right_column{
	background:lightgreen;
	width: 550px;
	float: right;
	padding: 10px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* Link */
a:link,
a:visited,
a:hover,
a:active{
	color: green;	
}
a:hover,
a:active{
	color : red;
}

#user_nav a:link,
#user_nav a:visited,
#user_nav a:hover,
#user_nav a:active{
	color : blue;
	background: none;
	padding: 2px 7px;
	font-weight: bold;
}
#user_nav a:hover,
#user_nav a:active{
	
	color: white;
	background: black;
}
