<% content_for :left_menu do %>

<ul>
	<li><a href="#">Some Link</a></li>
	<li><a href="#">Some Link</a></li>
	<li><a href="#">Some Link</a></li>
	<li><a href="#">Some Link</a></li>
	<li><a href="#">Some Link</a></li>
</ul>

<% end %>

 

<a href="http://0.0.0.0:3000/users">User</a>